.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid white;
}
#date {
  width: 200px;
  padding: 10px;
}
#title {
  font-size: larger;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
