.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#date {
  width: 200px;
  padding: 10px;
}
#title {
  font-size: larger;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
